# Importing Libraries

In [2]:
# import libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Data Loading and Initial Inspection

In [25]:
pd_raw_count = pd.read_csv('../data/uk_data/dft_traffic_counts_raw_counts.csv')

/var/folders/_z/nz5spzqj2rl11n5lc_k1cwwc0000gn/T/ipykernel_65996/109602175.py:1: DtypeWarning: Columns (14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  pd_raw_count = pd.read_csv('../data/uk_data/dft_traffic_counts_raw_counts.csv')

In [27]:
pd_raw_count.shape

(4960860, 35)

In [28]:
pd_raw_count.head()

,count_point_id,direction_of_travel,year,count_date,hour,region_id,region_name,region_ons_code,local_authority_id,local_authority_name,...,buses_and_coaches,LGVs,HGVs_2_rigid_axle,HGVs_3_rigid_axle,HGVs_4_or_more_rigid_axle,HGVs_3_or_4_articulated_axle,HGVs_5_articulated_axle,HGVs_6_articulated_axle,all_HGVs,all_motor_vehicles
0,51,N,2004,2004-05-21,7,1,South West,E12000009,1,Isles of Scilly,...,1.0,13,0.0,0.0,0.0,0.0,0,0.0,0.0,19.0
1,51,N,2004,2004-05-21,8,1,South West,E12000009,1,Isles of Scilly,...,2.0,13,7.0,7.0,0.0,0.0,0,0.0,14.0,44.0
2,51,N,2004,2004-05-21,9,1,South West,E12000009,1,Isles of Scilly,...,5.0,17,5.0,0.0,0.0,0.0,0,0.0,5.0,45.0
3,51,N,2004,2004-05-21,10,1,South West,E12000009,1,Isles of Scilly,...,4.0,4,4.0,0.0,0.0,0.0,0,0.0,4.0,41.0
4,51,N,2004,2004-05-21,11,1,South West,E12000009,1,Isles of Scilly,...,3.0,14,6.0,0.0,0.0,0.0,0,0.0,6.0,41.0

In [29]:
pd_raw_count.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4960860 entries, 0 to 4960859
Data columns (total 35 columns):
 #   Column                        Dtype
---  ------                        -----
 0   count_point_id                int64
 1   direction_of_travel           object
 2   year                          int64
 3   count_date                    object
 4   hour                          int64
 5   region_id                     int64
 6   region_name                   object
 7   region_ons_code               object
 8   local_authority_id            int64
 9   local_authority_name          object
 10  local_authority_code          object
 11  road_name                     object
 12  road_category                 object
 13  road_type                     object
 14  start_junction_road_name      object
 15  end_junction_road_name        object
 16  easting                       int64
 17  northing                      int64
 18  latitude                      float64
 19  longitude                     float64
 20  link_length_km                float64
 21  link_length_miles             float64
 22  pedal_cycles                  int64
 23  two_wheeled_motor_vehicles    int64
 24  cars_and_taxis                float64
 25  buses_and_coaches             float64
 26  LGVs                          int64
 27  HGVs_2_rigid_axle             float64
 28  HGVs_3_rigid_axle             float64
 29  HGVs_4_or_more_rigid_axle     float64
 30  HGVs_3_or_4_articulated_axle  float64
 31  HGVs_5_articulated_axle       int64
 32  HGVs_6_articulated_axle       float64
 33  all_HGVs                      float64
 34  all_motor_vehicles            float64
dtypes: float64(13), int64(11), object(11)
memory usage: 1.3+ GB

In [30]:
# create a copy of the raw count data where region name is East of England
pd_raw_count_east = pd_raw_count[pd_raw_count['region_name'] == 'East of England'].copy()

In [39]:
pd_raw_count_east.shape # size of the dataframe

(550056, 35)

In [40]:
pd_raw_count_east.info()

<class 'pandas.core.frame.DataFrame'>
Index: 550056 entries, 30144 to 4960547
Data columns (total 35 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   count_point_id                550056 non-null  int64
 1   direction_of_travel           550056 non-null  object
 2   year                          550056 non-null  int64
 3   count_date                    550056 non-null  object
 4   hour                          550056 non-null  int64
 5   region_id                     550056 non-null  int64
 6   region_name                   550056 non-null  object
 7   region_ons_code               550056 non-null  object
 8   local_authority_id            550056 non-null  int64
 9   local_authority_name          550056 non-null  object
 10  local_authority_code          550056 non-null  object
 11  road_name                     550056 non-null  object
 12  road_category                 550056 non-null  object
 13  road_type                     550056 non-null  object
 14  start_junction_road_name      220716 non-null  object
 15  end_junction_road_name        220716 non-null  object
 16  easting                       550056 non-null  int64
 17  northing                      550056 non-null  int64
 18  latitude                      550056 non-null  float64
 19  longitude                     550056 non-null  float64
 20  link_length_km                220944 non-null  float64
 21  link_length_miles             220944 non-null  float64
 22  pedal_cycles                  550056 non-null  int64
 23  two_wheeled_motor_vehicles    550056 non-null  int64
 24  cars_and_taxis                550056 non-null  float64
 25  buses_and_coaches             550056 non-null  float64
 26  LGVs                          550056 non-null  int64
 27  HGVs_2_rigid_axle             550054 non-null  float64
 28  HGVs_3_rigid_axle             550056 non-null  float64
 29  HGVs_4_or_more_rigid_axle     550056 non-null  float64
 30  HGVs_3_or_4_articulated_axle  550056 non-null  float64
 31  HGVs_5_articulated_axle       550056 non-null  int64
 32  HGVs_6_articulated_axle       550056 non-null  float64
 33  all_HGVs                      550054 non-null  float64
 34  all_motor_vehicles            550054 non-null  float64
dtypes: float64(13), int64(11), object(11)
memory usage: 151.1+ MB

In [41]:
pd_raw_count_east['direction_of_travel'].value_counts()

direction_of_travel
N    145584
S    145332
E    129684
W    129372
s        48
w        24
C        12
Name: count, dtype: int64

In [42]:
pd_raw_count_east['year'].value_counts()

year
2008    40404
2019    35052
2009    34272
2018    33552
2006    22992
2004    22848
2003    22776
2010    22332
2002    21408
2017    21336
2012    21144
2007    21108
2001    20952
2011    20568
2005    20472
2013    20196
2000    19548
2021    19452
2022    19440
2015    19080
2014    18708
2016    18708
2020    17592
2023    16116
Name: count, dtype: int64

In [43]:
pd_raw_count_east['local_authority_name'].value_counts() # local autorities wihtin the east of england region

local_authority_name
Essex                   134436
Hertfordshire           104760
Norfolk                  94752
Cambridgeshire           62088
Suffolk                  61572
Peterborough             22416
Thurrock                 16224
Bedfordshire             14844
Central Bedfordshire     12276
Luton                     9828
Southend-on-Sea           8676
Bedford                   8184
Name: count, dtype: int64

In [44]:
pd_raw_count_east['road_type'].value_counts()

road_type
Minor    329112
Major    220944
Name: count, dtype: int64

# Data Formatting

In [45]:
# conver `count_date` to datetime type
pd_raw_count_east['count_date'] =  pd.to_datetime(pd_raw_count_east['count_date'])

In [46]:
# Extract Date Components 
pd_raw_count_east['Month'] = pd_raw_count_east['count_date'].dt.month
pd_raw_count_east['Day_of_Week'] = pd_raw_count_east['count_date'].dt.day_name()
pd_raw_count_east['Day'] = pd_raw_count_east['count_date'].dt.day

In [47]:
# Create a 'timestamp' column by combining 'count_date' and 'hour'
pd_raw_count_east['timestamp'] = pd.to_datetime(pd_raw_count_east['count_date']) + pd.to_timedelta(pd_raw_count_east['hour'], unit='h')

In [48]:
# Check data types
print("\nData types in pd_raw_count:")
print(pd_raw_count_east.dtypes)

Data types in pd_raw_count:
count_point_id                           int64
direction_of_travel                     object
year                                     int64
count_date                      datetime64[ns]
hour                                     int64
region_id                                int64
region_name                             object
region_ons_code                         object
local_authority_id                       int64
local_authority_name                    object
local_authority_code                    object
road_name                               object
road_category                           object
road_type                               object
start_junction_road_name                object
end_junction_road_name                  object
easting                                  int64
northing                                 int64
latitude                               float64
longitude                              float64
link_length_km                         float64
link_length_miles                      float64
pedal_cycles                             int64
two_wheeled_motor_vehicles               int64
cars_and_taxis                         float64
buses_and_coaches                      float64
LGVs                                     int64
HGVs_2_rigid_axle                      float64
HGVs_3_rigid_axle                      float64
HGVs_4_or_more_rigid_axle              float64
HGVs_3_or_4_articulated_axle           float64
HGVs_5_articulated_axle                  int64
HGVs_6_articulated_axle                float64
all_HGVs                               float64
all_motor_vehicles                     float64
Month                                    int32
Day_of_Week                             object
Day                                      int32
timestamp                       datetime64[ns]
dtype: object

In [50]:
pd_raw_count_east.head()

,count_point_id,direction_of_travel,year,count_date,hour,region_id,region_name,region_ons_code,local_authority_id,local_authority_name,...,HGVs_4_or_more_rigid_axle,HGVs_3_or_4_articulated_axle,HGVs_5_articulated_axle,HGVs_6_articulated_axle,all_HGVs,all_motor_vehicles,Month,Day_of_Week,Day,timestamp
30144,6003,N,2000,2000-03-31,7,7,East of England,E12000006,208,Bedfordshire,...,36.0,63.0,223,145.0,678.0,4006.0,3,Friday,31,2000-03-31 07:00:00
30145,6003,N,2000,2000-03-31,8,7,East of England,E12000006,208,Bedfordshire,...,11.0,60.0,180,119.0,590.0,4142.0,3,Friday,31,2000-03-31 08:00:00
30146,6003,N,2000,2000-03-31,9,7,East of England,E12000006,208,Bedfordshire,...,17.0,85.0,212,117.0,681.0,3325.0,3,Friday,31,2000-03-31 09:00:00
30147,6003,N,2000,2000-03-31,10,7,East of England,E12000006,208,Bedfordshire,...,22.0,80.0,262,157.0,749.0,3500.0,3,Friday,31,2000-03-31 10:00:00
30148,6003,N,2000,2000-03-31,11,7,East of England,E12000006,208,Bedfordshire,...,17.0,77.0,218,172.0,728.0,3693.0,3,Friday,31,2000-03-31 11:00:00

# Data Cleaning

In [51]:
duplicates = pd_raw_count_east.duplicated().value_counts()
print(duplicates)

False    550056
Name: count, dtype: int64

In [52]:
print("\nMissing values in pd_raw_count:")
print((pd_raw_count_east.isna().sum() * 100 / pd_raw_count.shape[0]).round(2))

Missing values in pd_raw_count:
count_point_id                  0.00
direction_of_travel             0.00
year                            0.00
count_date                      0.00
hour                            0.00
region_id                       0.00
region_name                     0.00
region_ons_code                 0.00
local_authority_id              0.00
local_authority_name            0.00
local_authority_code            0.00
road_name                       0.00
road_category                   0.00
road_type                       0.00
start_junction_road_name        6.64
end_junction_road_name          6.64
easting                         0.00
northing                        0.00
latitude                        0.00
longitude                       0.00
link_length_km                  6.63
link_length_miles               6.63
pedal_cycles                    0.00
two_wheeled_motor_vehicles      0.00
cars_and_taxis                  0.00
buses_and_coaches               0.00
LGVs                            0.00
HGVs_2_rigid_axle               0.00
HGVs_3_rigid_axle               0.00
HGVs_4_or_more_rigid_axle       0.00
HGVs_3_or_4_articulated_axle    0.00
HGVs_5_articulated_axle         0.00
HGVs_6_articulated_axle         0.00
all_HGVs                        0.00
all_motor_vehicles              0.00
Month                           0.00
Day_of_Week                     0.00
Day                             0.00
timestamp                       0.00
dtype: float64

In [53]:
pd_raw_count_east.columns

Index(['count_point_id', 'direction_of_travel', 'year', 'count_date', 'hour',
       'region_id', 'region_name', 'region_ons_code', 'local_authority_id',
       'local_authority_name', 'local_authority_code', 'road_name',
       'road_category', 'road_type', 'start_junction_road_name',
       'end_junction_road_name', 'easting', 'northing', 'latitude',
       'longitude', 'link_length_km', 'link_length_miles', 'pedal_cycles',
       'two_wheeled_motor_vehicles', 'cars_and_taxis', 'buses_and_coaches',
       'LGVs', 'HGVs_2_rigid_axle', 'HGVs_3_rigid_axle',
       'HGVs_4_or_more_rigid_axle', 'HGVs_3_or_4_articulated_axle',
       'HGVs_5_articulated_axle', 'HGVs_6_articulated_axle', 'all_HGVs',
       'all_motor_vehicles', 'Month', 'Day_of_Week', 'Day', 'timestamp'],
      dtype='object')

In [54]:
columns_to_drop = [
    'year', 'region_id', 'region_name', 'local_authority_id', 'road_category', 'region_ons_code', 'road_name', 'local_authority_code',
    'easting', 'northing', 'start_junction_road_name', 'end_junction_road_name', 
    'link_length_km', 'link_length_miles', 'pedal_cycles', 
    'HGVs_2_rigid_axle', 'HGVs_3_rigid_axle', 'HGVs_4_or_more_rigid_axle', 
    'HGVs_3_or_4_articulated_axle', 'HGVs_5_articulated_axle', 'HGVs_6_articulated_axle', 
    'all_HGVs', 'buses_and_coaches', 'cars_and_taxis', 'two_wheeled_motor_vehicles', 
    'LGVs'
]

east_england_data = pd_raw_count_east.drop(columns=columns_to_drop)

In [55]:
east_england_data.sample(5)

,count_point_id,direction_of_travel,count_date,hour,local_authority_name,road_type,latitude,longitude,all_motor_vehicles,Month,Day_of_Week,Day,timestamp
923059,36183,N,2001-06-13,14,Hertfordshire,Major,51.772047,-0.023505,1291.0,6,Wednesday,13,2001-06-13 14:00:00
2003367,80674,N,2007-09-17,10,Bedfordshire,Major,52.004719,-0.495076,283.0,9,Monday,17,2007-09-17 10:00:00
2856038,919306,E,2004-03-17,9,Norfolk,Minor,52.518621,1.556734,132.0,3,Wednesday,17,2004-03-17 09:00:00
4754269,990008,S,2009-03-16,8,Suffolk,Minor,52.032433,1.184272,120.0,3,Monday,16,2009-03-16 08:00:00
2607115,807848,W,2021-05-10,14,Essex,Minor,51.797611,1.182979,362.0,5,Monday,10,2021-05-10 14:00:00

In [65]:
east_england_data[['timestamp','count_point_id','direction_of_travel','road_type', 'latitude', 'longitude', 'all_motor_vehicles']].sort_values(by=['timestamp']).head()

,timestamp,count_point_id,direction_of_travel,road_type,latitude,longitude,all_motor_vehicles
1747236,2000-03-17 07:00:00,70302,N,Major,52.739871,0.396288,471.0
4626136,2000-03-17 07:00:00,966366,W,Minor,51.870714,0.680708,150.0
399564,2000-03-17 07:00:00,16662,N,Major,52.016685,1.134320,512.0
4626124,2000-03-17 07:00:00,966366,E,Minor,51.870714,0.680708,78.0
923352,2000-03-17 07:00:00,36184,S,Major,51.700444,-0.043559,2066.0

In [56]:
print("\nMissing values in pd_raw_count:")
print((east_england_data.isna().sum() * 100 / east_england_data.shape[0]).round(2))

Missing values in pd_raw_count:
count_point_id          0.0
direction_of_travel     0.0
count_date              0.0
hour                    0.0
local_authority_name    0.0
road_type               0.0
latitude                0.0
longitude               0.0
all_motor_vehicles      0.0
Month                   0.0
Day_of_Week             0.0
Day                     0.0
timestamp               0.0
dtype: float64

In [57]:
duplicates = east_england_data.duplicated().value_counts()
print(duplicates)

False    550056
Name: count, dtype: int64

In [58]:
east_england_data.shape

(550056, 13)

In [59]:
east_england_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 550056 entries, 30144 to 4960547
Data columns (total 13 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   count_point_id        550056 non-null  int64
 1   direction_of_travel   550056 non-null  object
 2   count_date            550056 non-null  datetime64[ns]
 3   hour                  550056 non-null  int64
 4   local_authority_name  550056 non-null  object
 5   road_type             550056 non-null  object
 6   latitude              550056 non-null  float64
 7   longitude             550056 non-null  float64
 8   all_motor_vehicles    550054 non-null  float64
 9   Month                 550056 non-null  int32
 10  Day_of_Week           550056 non-null  object
 11  Day                   550056 non-null  int32
 12  timestamp             550056 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(3), int32(2), int64(2), object(4)
memory usage: 54.6+ MB

In [60]:
# Save the DataFrame to a CSV file, ensuring the format is kept
east_england_data.to_csv('../data/east_england_data_revised_cleaned.csv', index=False)