In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker

In [3]:
processed_data = pd.read_csv("../data/monthly_data.csv")

In [4]:

processed_data['timestamp'] = pd.to_datetime(processed_data['timestamp'])

In [5]:
processed_data.head

<bound method NDFrame.head of      timestamp  all_motor_vehicles
0   2000-03-01           1630674.0
1   2000-04-01           1816143.0
2   2000-05-01           3735104.0
3   2000-06-01           3469829.0
4   2000-07-01           1868494.0
..         ...                 ...
280 2023-07-01            896011.0
281 2023-08-01                 0.0
282 2023-09-01            796538.0
283 2023-10-01            611725.0
284 2023-11-01             29809.0

[285 rows x 2 columns]>

In [6]:
processed_data.columns

Index(['timestamp', 'all_motor_vehicles'], dtype='object')

In [7]:
monthly_data_zeros = processed_data.loc[processed_data["all_motor_vehicles"] == 0]
monthly_data_zeros.sample(5)

     timestamp  all_motor_vehicles
56  2004-11-01                 0.0
41  2003-08-01                 0.0
113 2009-08-01                 0.0
65  2005-08-01                 0.0
201 2016-12-01                 0.0

In [8]:
zero_counts = processed_data["all_motor_vehicles"].value_counts().get(0, 0)
print(f"Total records with zero motor vehicles: {zero_counts}")

Total records with zero motor vehicles: 109

In [9]:
total_records = len(processed_data)
zero_proportion = zero_counts / total_records * 100
print(f"Percentage of records with zero motor vehicles: {zero_proportion:.2f}%")

Percentage of records with zero motor vehicles: 38.25%

In [10]:
processed_data['timestamp']

0     2000-03-01
1     2000-04-01
2     2000-05-01
3     2000-06-01
4     2000-07-01
         ...
280   2023-07-01
281   2023-08-01
282   2023-09-01
283   2023-10-01
284   2023-11-01
Name: timestamp, Length: 285, dtype: datetime64[ns]

In [11]:
processed_data['year'] = processed_data['timestamp'].dt.year
zeros_by_year = processed_data[processed_data['all_motor_vehicles'] == 0].groupby('year').size()
print(zeros_by_year)

year
2000    3
2001    5
2002    5
2003    5
2004    4
2005    5
2006    5
2007    5
2008    5
2009    5
2010    5
2011    4
2012    5
2013    5
2014    6
2015    5
2016    4
2017    4
2018    4
2019    4
2020    5
2021    4
2022    4
2023    3
dtype: int64

In [16]:
processed_data['month'] = processed_data['timestamp'].dt.month
zeros_by_year = processed_data[processed_data['all_motor_vehicles'] == 0].groupby('month').size()
print(zeros_by_year)

month
1     23
2     23
3      2
8     23
11    15
12    23
dtype: int64

In [12]:
processed_data['year'] = processed_data['timestamp'].dt.year

In [13]:
zeros_by_year = processed_data[processed_data['all_motor_vehicles'] == 0].groupby('year').size()
print(zeros_by_year)

year
2000    3
2001    5
2002    5
2003    5
2004    4
2005    5
2006    5
2007    5
2008    5
2009    5
2010    5
2011    4
2012    5
2013    5
2014    6
2015    5
2016    4
2017    4
2018    4
2019    4
2020    5
2021    4
2022    4
2023    3
dtype: int64

In [14]:
processed_data.head()

   timestamp  all_motor_vehicles  year
0 2000-03-01           1630674.0  2000
1 2000-04-01           1816143.0  2000
2 2000-05-01           3735104.0  2000
3 2000-06-01           3469829.0  2000
4 2000-07-01           1868494.0  2000

In [17]:
# Group by month or day of the week to check for patterns
zeros_by_month = processed_data[processed_data['all_motor_vehicles'] == 0].groupby(processed_data['timestamp'].dt.month).size()
zeros_by_weekday = processed_data[processed_data['all_motor_vehicles'] == 0].groupby(processed_data['timestamp'].dt.day_name()).size()

print("Zeros by Month:\n", zeros_by_month)
print("\nZeros by Day of the Week:\n", zeros_by_weekday)

Zeros by Month:
 timestamp
1     23
2     23
3      2
8     23
11    15
12    23
dtype: int64

Zeros by Day of the Week:
 timestamp
Friday       15
Monday       15
Saturday     17
Sunday       15
Thursday     16
Tuesday      15
Wednesday    16
dtype: int64

In [ ]:
zeros_by_month.plot(kind='bar', title='Occurrences of Zero Motor Vehicles by Month')
plt.show()

zeros_by_weekday.plot(kind='bar', title='Occurrences of Zero Motor Vehicles by Day of the Week')
plt.show()